/*
Theme Name:     Discount Grocery Warehouse
Theme URI:      n/a
Template:       kadence
Author:         Digitalmarketerbee
Author URI:     n/a
Description:    Child Theme Description
Version:        1.0
License:        GNU General Public License v3.0 (or later)
License URI:    https://www.gnu.org/licenses/gpl-3.0.html
*/
/* GLOBAL */

.single-content .wp-block-columns {
	margin-bottom:20px;
}
.wp-block-kadence-advancedbtn, .wp-block-kadence-advancedbtn .kb-button {
	width:100%;
}

/* Home */

.evergreen, .h-full {
	display:grid;
	height:100%;
}
.evergreen .push-bottom {
	margin-top:auto;
	align-self:center;
	width:100%;
}
.evergreen-img img {
	width:250px;
}

/* Form */
.form-subscribe_wrapper .gform-button {
	background-color:#F69529;
	color: #1C1C1C;
	font-weight: 700;
	width: content;
	font-family: Archivo;
	padding: 8px 24px 8px 24px;
}


